<div id="canvasPage">
	<div class="controls">
		<button onclick="changePage(0)">Back To Start</button>
		<button onclick="changePage(1)">Back To Select</button>
		<button onclick="toggleLiveMicFeed()">Toggle Live Feed</button>
	</div>
	<div class="background">
		<div class="stars"></div>
		<div class="twinkling"></div>
		<div class="clouds"></div>	
	</div>

	<div id="sky"></div>	
	<div id="liveNoiseFactory" class="factory"></div>
	<div id="highFreqFactory" class="factory"></div>
	<div id="medFreqFactory" class="factory"></div>
	<div id="lowFreqFactory" class="factory"></div>
	
	<div class="mic-demo">
		

		<canvas class="visualizer" width="640" height="100"></canvas>

		<label for="visual">Visualizer Settings</label>
		<select id="visual" name="visual">
			<option value="sinewave">Sinewave</option>
			<option value="frequencybars" selected>Frequency bars</option>
			<option value="off">Off</option>
		</select>
		<select id="visual-live" name="visual-live">
			<option value="sinewave">Sinewave</option>
			<option value="frequencybars" selected>Frequency bars</option>
			<option value="off">Off</option>
		</select>
	</div>
</div>