<script src="scripts/app.js"></script>
<div id="canvasPage">
	<h1>Canvas Page</h1>
	<button onclick="$('.mic-demo').toggle()">Mic Demo</button>
	

	<div id="models">
		<div id="window-model" class="window"></div>
		<div class="building high-frequency building0">
			<div class="shape block4"></div>
			<div class="block block3"></div>
			<div class="block block2"></div>
			<div class="block block1 windows"></div>
			<div class="block block0"></div>
		</div>

		<div class="building high-frequency building1">
			<div class="block block3"></div>
			<div class="block block2"></div>
			<div class="block block1 windows"></div>
			<div class="block block0"></div>
		</div>
		
		<div class="building high-frequency building2">
			<div class="block block2"></div>
			<div class="block block1 windows"></div>
			<div class="block block0"></div>
		</div>
	</div>

	<div id="liveNoiseFactory"></div>
	
	<div class="mic-demo">
		<button onclick="changePage(1)">Previous</button>

		<canvas class="visualizer" width="640" height="100"></canvas>

		<label for="visual">Visualizer Settings</label>
		<select id="visual" name="visual">
			<option value="sinewave">Sinewave</option>
			<option value="frequencybars" selected>Frequency bars</option>
			<option value="off">Off</option>
		</select>
	</div>
</div>
