<div id="canvasPage">
	<!-- <button onclick="$('.mic-demo').toggle()">Mic Demo</button> -->
	<div class="background">
		<div class="stars"></div>
		<div class="twinkling"></div>
		<div class="clouds"></div>	
	</div>

	<div id="sky"></div>	
	<div id="liveNoiseFactory" class="factory"></div>
	<div id="highFreqFactory" class="factory"></div>
	<div id="medFreqFactory" class="factory"></div>
	<div id="lowFreqFactory" class="factory"></div>
	
	<div class="mic-demo">
		

		<canvas class="visualizer" width="640" height="100"></canvas>

		<label for="visual">Visualizer Settings</label>
		<select id="visual" name="visual">
			<option value="sinewave">Sinewave</option>
			<option value="frequencybars" selected>Frequency bars</option>
			<option value="off">Off</option>
		</select>
		<select id="visual-live" name="visual-live">
			<option value="sinewave">Sinewave</option>
			<option value="frequencybars" selected>Frequency bars</option>
			<option value="off">Off</option>
		</select>
	</div>
</div>