<div id="selectPage">
	<div class="playlist"></div>
	<div class="action-wrapper">
		<div class="demo-img"></div>
		<div class="action-buttons">
			<!-- File uploading DOM level--> 
			<div class="btn"><label for="Song">Upload Song</label>
				<input type="file" name="song" id="song" class = "fileBtn">
				<input type="submit" value="Upload" class = "fileBtn" onclick="fileUp()">
			</div>
			<div class="btn" onclick="changePage(2)">Begin Projection</div>
		</div>
	</div>

	<button onclick="changePage(0)">Previous</button>
</div>

<script>

</script>