<div id="startPage">
	<div class="attractAni">
		<div class="staff">
			<div class="line f"></div>
			<div class="line d"></div>
			<div class="line b"></div>
			<div class="line g"></div>
			<div class="line e"></div>
		</div>
<!-- 		<div class="notes">
			<img class="note note0" src="./images/note.svg" alt="Note">
			<img class="note note1" src="./images/note.svg" alt="Note">
			<img class="note note2" src="./images/note.svg" alt="Note">
			<img class="note note3" src="./images/note.svg" alt="Note">
			<img class="note note4" src="./images/note.svg" alt="Note">
			<img class="note note5" src="./images/note.svg" alt="Note">
			<img class="note note6" src="./images/note.svg" alt="Note">
		</div> -->
		<div class="logo">
			<img class="canvas_top" src="./images/Canvas Top.png" alt="Canvas Top">
			<img class="text" src="./images/Jam Canvas Text.png" alt="Jam Canvas Text">
			<img class="canvas_bottom" src="./images/Canvas Bottom.png" alt="Canvas Bottom">
		</div>
	</div>

	<div class="titles">
		<h3>Let's Look at a Song</h3>
		<div class="btn" onclick="changePage(1)">Get Started</div>
	</div>
</div>
