#startPage {
	background-color: $c-black;
	color: $c-white;
	@include cover;

	.titles {
		@include center;
		text-align: center;
		.btn {
			background-color: $c-red;
		}
	}
}

#selectPage {
	.playlist {
		background-color: $c-white;
		width: 40%;
		float: left;
		height: 100%;
	}
	.action-wrapper {
		background-color: $c-light-grey;
		height: 100%;
		overflow: hidden;
		width: auto;
		position: relative;
		.demo-img {
			background-color: $c-black;
			width: 70%;
			height: 40%;
			margin: 40px auto;
		}
		.action-buttons {
			width: 200px;
			margin: auto;
			.btn {
				background-color: $c-blue;
				margin: 30px auto;
				color: $c-white;
				width: 100%;
				padding: 10px 0;
				text-align: center;
			}
		}
	}
}

#canvasPage {
	@include cover;
	.mic-demo {
		display: none;
	}
	.factory {
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		&#skyFactory {
			z-index: 0;
			height: 60%;
			top: 0;
			bottom: initial;
		}
		&#highFreqFactory {
			height: 70%;
			z-index: 3;
		}
		&#medFreqFactory {
			height: 60%;
			z-index: 2;
		}
		&#lowFreqFactory {
			height: 50%;
			z-index: 1;
		}
		&#liveNoiseFactory {
			height: 40%;
			z-index: 4;
		}	
	}

}

#models {
	opacity: 0; //change to opacity 0 for live
	z-index: 10;
}

