
#canvasPage.shortSong {
	background: linear-gradient(to bottom, $c-blue, $c-light-grey);
	background: -moz-linear-gradient(top, $c-blue, $c-light-grey);
	.building {
		&.live-noise {
			.block {
				background: #2b2e42;		
			}
			.shape {
				border-color: #2b2e42;
			}
		}
		&.high-frequency {
			.block {
				background: #d84b2f;
			}
			.shape {
				border-color: #d84b2f;
			}
		}
		&.med-frequency {
			.block {
				background: #d87b2e;
			}
			.shape {
				border-color: #d87b2e;
			}
		}
		&.low-frequency {
			.block {
				background: #98a085;
			}
			.shape {
				border-color: #98a085;
			}
		}
	}
}


#canvasPage.mediumSong {
	background: linear-gradient(to bottom, #6295c1, $c-light-grey);
	background: -moz-linear-gradient(top, #6295c1, $c-light-grey);
	.building {
		&.live-noise {
			.block {
				background: #2c2d1c;		
			}
			.shape {
				border-color: #2c2d1c;
			}
		}
		&.high-frequency {
			.block {
				background: #bdc65b;
			}
			.shape {
				border-color: #bdc65b;
			}
		}
		&.med-frequency {
			.block {
				background: #969b60;
			}
			.shape {
				border-color: #969b60;
			}
		}
		&.low-frequency {
			.block {
				background: #6a6d4c;
			}
			.shape {
				border-color: #6a6d4c;
			}
		}
	}
}