#canvasPage {
	/* ============================================================================================== 
	Nick Mkrtchyan
	http://www.facebook.com/sonick.pk
	http://www.Mkrtchyan.zz.mu
	================================================================================================= */
	.background {
		opacity: .2;

		@keyframes move-twink-back {
		    from {background-position:0 0;}
		    to {background-position:-10000px 5000px;}
		}

		@-moz-keyframes move-twink-back {
		    from {background-position:0 0;}
		    to {background-position:-10000px 5000px;}
		}

		@keyframes move-clouds-back {
		    from {background-position:0 0;}
		    to {background-position:10000px 0;}
		}
		@-webkit-keyframes move-clouds-back {
		    from {background-position:0 0;}
		    to {background-position:10000px 0;}
		}


		.stars, .twinkling, .clouds {
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			width:100%;
			height:100%;
			display:block;
		}

		.stars {
			background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
			z-index:0;
		}

		.twinkling{
			background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
			z-index:1;

			-moz-animation:move-twink-back 200s linear infinite;
			animation:move-twink-back 200s linear infinite;
		}

		.clouds{
			background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
			z-index:3;

			-moz-animation:move-clouds-back 200s linear infinite;
			animation:move-clouds-back 200s linear infinite;
		}
	}
}
#canvasPage.shortSong {
	.background {
		display: none;
	}
	background: linear-gradient(to bottom, $c-blue, $c-light-grey);
	background: -moz-linear-gradient(top, $c-blue, $c-light-grey);
	.building {
		&.live-noise {
			.block {
				background: #2b2e42;		
			}
			.shape {
				border-color: #2b2e42;
			}
		}
		&.high-frequency {
			.block {
				background: #d84b2f;
			}
			.shape {
				border-color: #d84b2f;
			}
		}
		&.med-frequency {
			.block {
				background: #d87b2e;
			}
			.shape {
				border-color: #d87b2e;
			}
		}
		&.low-frequency {
			.block {
				background: #98a085;
			}
			.shape {
				border-color: #98a085;
			}
		}
	}
}


#canvasPage.mediumSong {
	.background {
		display: none;
	}
	background: linear-gradient(to bottom, #6295c1, $c-light-grey);
	background: -moz-linear-gradient(top, #6295c1, $c-light-grey);
	.building {
		&.live-noise {
			.block {
				background: #2c2d1c;		
			}
			.shape {
				border-color: #2c2d1c;
			}
		}
		&.high-frequency {
			.block {
				background: #bdc65b;
			}
			.shape {
				border-color: #bdc65b;
			}
		}
		&.med-frequency {
			.block {
				background: #969b60;
			}
			.shape {
				border-color: #969b60;
			}
		}
		&.low-frequency {
			.block {
				background: #6a6d4c;
			}
			.shape {
				border-color: #6a6d4c;
			}
		}
	}
}