// COLORS

$c-black: #000000;
$c-white: #FFFFFF;
$c-red: #c61111;
$c-yellow: #e0ce04;
$c-blue: #04a2e0;
$c-grey: #c8ccce;
$c-light-grey: #efefef;

@mixin cover {
	width: 100%;
	height: 100%;
	display: block;
}

@mixin center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

