.btn {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer; }

#models {
  display: none;
  opacity: 0; }

.building {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100px; }
  .building .block {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .building.live-noise .block {
    background: #000000; }
  .building.live-noise .shape {
    border-color: #000000; }
  .building.high-frequency .block {
    background: #404040; }
  .building.high-frequency .shape {
    border-color: #404040; }
  .building.med-frequency .block {
    background: #737373; }
  .building.med-frequency .shape {
    border-color: #737373; }
  .building.low-frequency .block {
    background: #8c8c8c; }
  .building.low-frequency .shape {
    border-color: #8c8c8c; }

.window {
  background: #c8ccce;
  width: 10px;
  height: 20px;
  border: 3px solid #000000;
  display: inline-block; }

.windows {
  z-index: 1; }
  .windows .window-container {
    position: absolute;
    bottom: 10px; }
    .windows .window-container .window-row {
      text-align: center; }

.building0 .block0 {
  width: 100%;
  height: 100%; }

.building1 .block0 {
  width: 100%;
  height: 70%; }
.building1 .block1 {
  width: 80%;
  height: 80%; }
.building1 .block2 {
  width: 60%;
  height: 85%; }
.building1 .block3 {
  width: 40%;
  height: 90%; }
.building1 .block4 {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90%;
  border-left: 12px solid transparent !important;
  border-right: 12px solid transparent !important;
  border-bottom: 30px solid #c8ccce; }

.building2 .block0 {
  width: 100%;
  height: 20%; }
.building2 .block1 {
  width: 80%;
  height: 30%; }
.building2 .block2 {
  width: 50%;
  height: 80%; }
.building2 .block3 {
  width: 20%;
  height: 90%; }
.building2 .block4 {
  width: 2px;
  height: 100%; }

.building3 .block0 {
  width: 100%;
  height: 85%; }
.building3 .block1 {
  width: 80%;
  height: 100%; }

#startPage {
  background-color: #efefef;
  color: #000000;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute; }
  #startPage .logo_img {
    width: 60%;
    height: 60%;
    margin: 5% 10% 0% 10%; }
  #startPage .titles {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #startPage .titles .btn {
      background-color: #04a2e0;
      color: #FFFFFF; }

#selectPage {
  font-family: Verdana, Geneva, sans-serif; }
  #selectPage .fileBtn {
    padding: 5px 10px; }
  #selectPage .playlist {
    background-color: #c8ccce;
    width: 40%;
    float: left;
    height: 100%; }
  #selectPage .action-wrapper {
    background-color: #efefef;
    height: 100%;
    overflow: hidden;
    width: auto;
    position: relative;
    text-align: center; }
    #selectPage .action-wrapper .demo-img {
      width: 80%;
      height: 40%;
      margin: 5% 10% 0% 10%; }
    #selectPage .action-wrapper .action-buttons {
      font-family: Verdana, Geneva, sans-serif;
      margin: auto; }
      #selectPage .action-wrapper .action-buttons .btn {
        background-color: #04a2e0;
        margin: 30px auto;
        color: #FFFFFF;
        width: 200px;
        padding: 10px 0px;
        text-align: center; }
      #selectPage .action-wrapper .action-buttons .upload-option {
        height: 100px;
        vertical-align: middle; }
      #selectPage .action-wrapper .action-buttons .begin-projection {
        display: block; }

#canvasPage {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(to bottom, #000000, #efefef);
  background: -moz-linear-gradient(top, #000000, #efefef); }
  #canvasPage .mic-demo {
    display: none; }
  #canvasPage #sky {
    width: calc(100% + 200px);
    position: absolute;
    top: 0;
    height: 60%;
    z-index: 0; }
    #canvasPage #sky .item {
      position: absolute;
      fill: #FFFFFF;
      top: 0;
      right: 0; }
  #canvasPage .factory {
    width: calc(100% + 100px);
    position: absolute;
    bottom: 0; }
    #canvasPage .factory#highFreqFactory {
      height: 70%;
      z-index: 3; }
    #canvasPage .factory#medFreqFactory {
      height: 60%;
      z-index: 2; }
    #canvasPage .factory#lowFreqFactory {
      height: 50%;
      z-index: 1; }
    #canvasPage .factory#liveNoiseFactory {
      height: 40%;
      z-index: 4; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #c8ccce; }

/*# sourceMappingURL=main.css.map */
